.top-bar {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 1855px;
  z-index: 1000;
}

.top-left,
.top-right {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.top-left div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  color: #666;
  font-size: 16px;
}

.number, .mail, .map {
  cursor: default;
  transition: color 0.2s;
}

.number:hover,
.mail:hover,
.map:hover {
  color: #53079d;
  cursor: pointer;
}

.lang {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.lang img {
  width: 24px;
  height: 16px;
  border: 1px solid #ccc;
  object-fit: cover;
}